@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root {
    /* Brand colors */
    --brand-primary: #000;
    --brand-primary--inverted: #fff;
    --brand-secondary: #000;
    --brand-secondary--inverted: #66bdd1;
    /* Typography */
    --font-family-sans-serif: 'Lato';
    --font-size-base: 18px;
    --text-color: var(--brand-secondary--inverted);
    /* Main Navigation */
    --main-navigation-color: var(--brand-secondary);
    --main-navigation-color--inverted: var(--brand-secondary--inverted);
}